@import url(https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo);
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import "tailwindcss";

body{
  background: radial-gradient(52.52% 32.71% at 50% 97.66%, rgba(36, 160, 181, 0.20) 0%, rgba(36, 160, 181, 0.00) 100%), #02191D;
  font-family: "Roboto", serif;
}
@media (max-width: 640px) { /* Adjust for small screens */
  body {
    padding: 1rem; /* Adjust padding as needed */
  }
}

.JejuMyeongjo{
  font-family: "JejuMyeongjo";
}

.alatsi-regular {
  font-family: "Alatsi", serif;
  font-weight: 400;
  font-style: normal;
}

.road-rage-regular{
  font-family: "Road Rage";
  font-weight: 400;
  font-style: normal;
}

.gradientBg{
  background: radial-gradient(
      103.64% 57.39% at 14.02% 32.06%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    rgba(10, 12, 17, 0.1);
}

.loading-bar {
  width: 100%;
  height: 3px;
  background-color: #0E464F;
  border-radius: 5px;
}

.filled-bar {
  height: 100%;
  background-color: #24A0B5;
  border-radius: 5px;
}

.box {
  --mask: radial-gradient(25px at 25px 25px,#0000 98%,#000) -25px -25px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
